# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Some of the most common languages in data science 
* The most used libraries in data science
* The most used open source tools in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335